{% extends 'base.html' %}
{% load static %}
{% block content %}
	<main>
			<!--Curriculum-->
		<div class="about-divs">
			<h2>Our Curriculum</h2>
			<p>Our curriculum is designed in an integrated approach with Social Studies in
				 the core. The class teachers take active role in developing the curriculum under the prescribed
				  framework. The teachers team continually meet and discuss to keep timely progress in the curriculum 
				  framework. Nepali and English languages are used interchangeably as per the need of individual student
				   and also ensuring meaningful interactions and exchanges in the classroom. The students up to grade
				     three are free to use any of the two languages during social and scientific explorations
					  during conversation as well as written work.</p><br><br>
			<h3>Preschool Curriculum</h3>
			<p>The focus of preschool is social, physical, cognitive and emotional development.
				 The classroom schedule is designed in a way that they get opportunity of engaging in 
				 balanced experiential activities on individual as well as group basis. Continuous and 
				 integrated assessment system has been implemented which doesn’t require children to 
				 sit for any formal exams or tests. Active play based and hands on learning methods are used.</p><br><br>

			<h3>Early Primary( Grades 1 to 3)</h3>
			<p>The focus of early primary level at Kamane Academy is to instill love for learning with 
				strong foundations on languages ( Nepali and English ) and numeracy. We’ve been successfully
				 implementing integrated approach to teaching with Social Studies as a core subject.
				  The curriculum is based on different themes that require students to engage in field trips,
				   observations, interview, experiments and production projects. The activities are designed
				    to ensure rich collaborative learning process. The students require to do minimal homework.
					 Alternative approach to assessment have been introduced that doesn’t require children to sit 
					 for any kind of tests or exams. The teachers assess children on daily basis document their progress
					  in notes and portfolios.</p><br><br>

			<h3>Upper Primary ( Grades 4 to 8)</h3>
			<p>Upper primary grades have one theme based study each quarter. The students engage in various
				 experiential activities on regular basis based on Nepal’s national curriculum .
				  The focus of upper primary level is to facilitate student’s learning independence,
				   build character and support them towards academic excellence. The upper grade students
				    go through combination of alternative and traditional methods evaluation system.</p>		
		</div>
	</main>
{% endblock content %}
	