{% extends 'base.html' %}
{% load static %}
{% block content %}
	<main>			
				<!--environment projects-->
		<div class ="about-divs">
			<h2>The Global Wisdom Project</h2>
			<p>The Kamane School Project is a pursuit to engage with teaching and learning from local to global levels. Centered around a functioning school serving children from preschool through secondary level in Nepal’s inner terai region, the Project seeks to address the immediate needs of children while also engaging in an exchange of ideas about education around the world – its parameters, its development and its reform. The Project is an effort to bring educators together to discover:</p>
			<p>* What do educational ideas from elsewhere have to offer to Nepalese teachers?</p>
			<p>* What can Nepal offer to those with experience teaching and learning in other contexts?</p>
			<p>Too often, attempts to change Nepal’s education system have followed a “top down” approach, with policies imposed on teachers who are unequipped and unmotivated to implement them effectively. The Kamane School Project will be based in a “bottom up” model, rooting all of its work firmly in real classroom experience and honoring teachers as the primary agents of change. In a setting that too often values talk above action, all discussion will follow real-world activities designed to reflect the experiential learning approach that guides our philosophy.</p>
			<p>Most contemporary schools in Nepal were developed from the second-hand legacy of British rule in India and in this sector, Nepal has a significant history of donor-driven education reform since the mid-20th century. Such efforts have resulted in significant increases in basic literacy and basic math proficiency, but more deep-rooted improvement in schooling has yet to firmly take root. Critical thinking, curriculum relevant to the lives of students and their families, a linking of local needs and challenges with global innovation and ideas … this sort of innovation has remained largely absent, especially in areas outside of Kathmandu. The Kamane Project has been founded by Nepalese educators, trained in Nepal, who seek to combine the best of their country’s educational tradition with ideas and innovations from around the world.</p>
			<p>The Kamane School Project hopes to eventually run <strong>a laboratory school</strong> on-site, and to construct <strong>an eco friendly scholars’ resource center</strong> for visiting educators/scholars, a small conference facility, a research center, a community library and a teacher training program. The aim is to promote quality educational practice and to contribute to the economy of the region through “edutourism”. We are willing to collaborate with organizations or individuals who support our vision and would like to be a part of the Project as it develops.</p>
			<p><a href="{% url 'contact' %}">Contact us</a></p>
		</div>

	</main>
{% endblock content %}
	