{% extends 'base.html' %}
{% load static %}
{% block content %}
	
	<main>
		<div class="greetings">
			<h2>Hello, {{user.username}}!</h2>
			<div><a  href="{% url 'logout' %}">Logout</a></div>
			
		</div>
		
		
		
		{% for result in results %}	
			{% if result.transaction_complete%}
					<table>
						<tr>
							<th>Class</th>
							<td>{{ result.grade }}</td>
						</tr>
						<tr>
							<th>Term</th>
							<td>{{ result.term }}</td>
						</tr>
						<tr>
							<th>Date</th>
							<td>{{ result.date_added|slice:"-3" }}</td>
						</tr>
					</table>	
					<div>
						<img src="https://kamaneacademy.s3.eu-west-2.amazonaws.com/static/{{result.image}}" >
						<h3>Teachers Message: {{result.teachers_message}}</h3>
						<p>Remarks: {{result.remarks}}</p>
					</div>
					
				</div>
			{% else %}
				<div class="no-result-show">
					<h1 class="apolozy-message">Please Contact Administration.</h1>
					<span itemprop="telephone">
						<a class="phone-link" href="tel:+977-057412777"><img class="logo-image phone-logo" src="{% static 'images/phone.png' %}" width="35px" height="35px">977-057412777</a>
					</span>
				</div>	
				
			{% endif %}
		{% endfor %}
	</main>



{% endblock content %}




	