{% extends 'base.html' %}
{% load static %}
{% block content %}
	<main>
		<div class="about-divs">
			<h2>MISSION, VISION AND GOALS</h2>
			<h3>Our Vision</h3>
			<h5>"Empowered and waleful teachers can be a strong force for change in the world."</h5>
			<p>Kamane Academy is an attempt to reimagine a child’s schooling experience ! We’re born out of utter discomfort and pain we felt seeing children being tortured in various forms in the name of education. We believe the process of education can be challenging but should never be painful and dehumanizing as often seen in the classrooms of Nepal.</p><br>
			<p>A teacher’s primary job is to understand and respect every individual child they work with for who they are. Educating starts with acknowledging uniqueness of individual child and valuing their varied interests and capacity to learn and grow.</p>
			<p>Kamane Academy empowers every child through COMMUNITY BASED EXPERIENTIAL learning. We treat every child as a unique individual with varied interests, abilities and learning choices. At the same time the children learn to see themselves as a part of community through wide ranges of collaborative learning opportunities created by teachers. Our goal is to instill “the love for learning” and to teach children how to design and build a life in which they can thrive.</p>
		</div>
		
	</main>
{% endblock content %}
	